In [1]:
import selenium
import pandas as pd
import time
import re

from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys

import requests

import warnings
warnings.filterwarnings('ignore')

In [4]:
# Question 1 :
driver=webdriver.Chrome()

In [5]:
driver.get("https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos")

In [6]:
Name  = []
Artist = []
Upload_date = []
Views = []

In [7]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter'][1]/tbody/tr/td[1]"):
        Name.append(i.text)
except NoSuchElementException:
    Name.append("--")

In [8]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter'][1]/tbody/tr/td[2]"):
        Artist.append(i.text)
except NoSuchElementException:
    Artist.append("--")

In [9]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter'][1]/tbody/tr/td[3]"):
        Views.append(i.text)
except NoSuchElementException:
    Views.append("--")

In [10]:
try:
    for i in driver.find_elements(By.XPATH,"//table[@class='sortable wikitable sticky-header static-row-numbers col3center col4right jquery-tablesorter'][1]/tbody/tr/td[4]"):
        Upload_date.append(i.text)
except NoSuchElementException:
    Upload_date.append("--")

In [12]:
Wiki_org = pd.DataFrame({})
Wiki_org['Name'] = Name
Wiki_org['Artist'] = Artist
Wiki_org['Views (in Billion)'] = Views
Wiki_org['Upload Date'] = Upload_date
Wiki_org.Name = Wiki_org.Name.apply(lambda x:x[:-4].strip('"'))
Wiki_org

,Name,Artist,Views (in Billion),Upload Date
0,Baby Shark Dance,Pinkfong Baby Shark - Kids' Songs & Stories,14.09,"June 17, 2016"
1,Despacito,Luis Fonsi,8.38,"January 12, 2017"
2,Johny Johny Yes Papa,LooLoo Kids - Nursery Rhymes and Children's Songs,6.87,"October 8, 2016"
3,Bath Song,Cocomelon - Nursery Rhymes,6.62,"May 2, 2018"
4,Shape of You,Ed Sheeran,6.20,"January 30, 2017"
5,See You Again,Wiz Khalifa,6.17,"April 6, 2015"
6,Wheels on the Bus,Cocomelon - Nursery Rhymes,5.88,"May 24, 2018"
7,Phonics Song with Two Words,ChuChu TV Nursery Rhymes & Kids Songs,5.70,"March 6, 2014"
8,Uptown Funk,Mark Ronson,5.15,"November 19, 2014"
9,Learning Colors – Colorful Eggs on a Farm,Miroshka TV,5.07,"February 27, 2018"
10,Gangnam Style,Psy,5.05,"July 15, 2012"
11,Masha and the Bear – Recipe for Disaster,Get Movies,4.58,"January 31, 2012"
12,Dame Tu Cosita,Ultra Records,4.55,"April 5, 2018"
13,Axel F,Crazy Frog,4.34,"June 16, 2009"
14,Sugar,Maroon 5,4.00,"January 14, 2015"
15,Counting Stars,OneRepublic,3.97,"May 31, 2013"
16,Baa Baa Black Sheep,Cocomelon - Nursery Rhymes,3.96,"June 25, 2018"
17,Roar,Katy Perry,3.96,"September 5, 2013"
18,Lakdi Ki Kathi,Jingle Toons,3.91,"June 14, 2018"
19,Waka Waka (This Time for Africa),Shakira,3.85,"June 4, 2010"
20,Sorry,Justin Bieber,3.77,"October 22, 2015"
21,Thinking Out Loud,Ed Sheeran,3.73,"October 7, 2014"
22,Humpty the train on a fruits ride,Kiddiestv Hindi - Nursery Rhymes & Kids Songs,3.73,"January 26, 2018"
23,Shree Hanuman Chalisa,T-Series Bhakti Sagar,3.69,"May 10, 2011"
24,Dark Horse,Katy Perry,3.67,"February 20, 2014"
25,Perfect,Ed Sheeran,3.67,"November 9, 2017"
26,Let Her Go,Passenger,3.61,"July 25, 2012"
27,Faded,Alan Walker,3.59,"December 3, 2015"
28,Girls Like You,Maroon 5,3.56,"May 31, 2018"
29,Lean On,Major Lazer Official,3.55,"March 22, 2015"

In [30]:
# Question 3 :driver_1=webdriver.Chrome()

In [31]:
driver_1.get("http://statisticstimes.com/")

In [32]:
economy_button = driver_1.find_element(By.XPATH,"//div[@class='navbar']/div[2]/button")
economy_button.click()
ind_button = driver_1.find_element(By.XPATH,"//div[@class='dropdown-content']/a[3]")
ind_button.click()

In [33]:
India_button = driver_1.find_element(By.XPATH,'/html/body/div[2]/div[2]/div[2]/ul/li[1]/a')
India_button.click()

In [35]:
Ranks = []
State = []
GSDP_1 = []
GSDP_2 = []
Share = []
GDP = []

In [36]:
try: 
    for i in driver_1.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[1]'):
        Ranks.append(i.text)
except NoSuchElementException:
    Ranks.append("--")

In [37]:
try:
    for i in driver_1.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[2]'):
        State.append(i.text)
except NoSuchElementException:
    State.append("--")

In [38]:
try:
    for i in driver_1.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[3]'):
        GSDP_1.append(i.text)
except NoSuchElementException:
    GSDP_1.append("--")

In [39]:
try:
    for i in driver_1.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[4]'):
        GSDP_2.append(i.text)
except NoSuchElementException:
    GSDP_2.append("--")

In [40]:
try:
    for i in driver_1.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[5]'):
        Share.append(i.text)
except NoSuchElementException:
    Share.append("--")

In [42]:
try:
    for i in driver_1.find_elements(By.XPATH,'//table[@class="display dataTable"]/tbody/tr/td[6]'):
        GDP.append(i.text)
except NoSuchElementException:
    GDP.append("--")

In [43]:
States_GDP = pd.DataFrame({'Rank' : Ranks, 'State' : State, 'GSDP 1' : GSDP_1, 'GSDP 2' : GSDP_2, 'Share' : Share, 'GDP (in billion)' : GDP})
States_GDP

,Rank,State,GSDP 1,GSDP 2,Share,GDP (in billion)
0,1,Maharashtra,-,"3,108,022",13.24%,417.163
1,2,Tamil Nadu,"2,364,514","2,071,286",8.82%,278.011
2,3,Uttar Pradesh,"2,257,575","1,974,532",8.41%,265.024
3,4,Karnataka,"2,241,368","1,962,725",8.36%,263.440
4,5,Gujarat,-,"1,937,066",8.25%,259.996
...,...,...,...,...,...,...
61,29,Arunachal Pradesh,-,"31,669",0.16%,-
62,30,Sikkim,"35,670","31,519",0.16%,"17,832"
63,31,Nagaland,-,"27,859",0.14%,-
64,32,Mizoram,-,"24,293",0.12%,-
65,33,Andaman & Nicobar Islands,-,"9,209",0.05%,-

In [44]:
# Question 6 :
driver_2=webdriver.Chrome()

In [45]:
driver_2.get("https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare")

In [46]:
Book_name = []
Author_name = []
Volumes_sold = []
Publisher = []
Genre = []

In [47]:
try:
    for i in driver_2.find_elements(By.XPATH,'//tbody//tr//td[2]'):
        Book_name.append(i.text)
except NoSuchElementException:
    Book_name.append("--")

In [48]:
try:
    for i in driver_2.find_elements(By.XPATH,'//tbody//tr//td[3]'):
        Author_name.append(i.text)
except NoSuchElementException:
    Author_name.append("--")

In [49]:
try:
     for i in driver_2.find_elements(By.XPATH,'//tbody//tr//td[4]'):
            Volumes_sold.append(i.text)
except NOSuchElementException:
    Volumes_sold.append("--")

In [50]:
try:
    for i in driver_2.find_elements(By.XPATH,'//tbody//tr//td[5]'):
        Publisher.append(i.text)
except NoSuchElementException:
    Publisher.append("--")

In [51]:
try:
    for i in driver_2.find_elements(By.XPATH,'//tbody//tr//td[6]'):
        Genre.append(i.text)
except NoSuchElementException:
    Genre.append("--")

In [52]:
Best_Sellers = pd.DataFrame({'Book Name' : Book_name, 'Author Name' : Author_name, 'Volumes Sold' : Volumes_sold, 'Publisher' : Publisher, 'Genre' : Genre})
Best_Sellers

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [3]:
# Question 4 :
driver_3=webdriver.Chrome()

In [4]:
driver_3.get("https://github.com/")

In [5]:
explore_click = driver_3.find_element(By.XPATH,"/html/body/div[1]/div[6]/main/div[1]/nav/div/a[1]")
explore_click.click()

In [6]:
trending_search = driver_3.find_element(By.XPATH,"/html/body/div[1]/div[6]/main/div[1]/nav/div/a[3]")
trending_search.click()

In [7]:
URLS = []
Repository_title = []
Description = []
Language = []

In [8]:
url = driver_3.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']//a")
for i in url:
    URLS.append(i.get_attribute('href'))

In [9]:
repo_title = driver_3.find_elements(By.XPATH,"//h2[@class='h3 lh-condensed']")
for i in repo_title:
    Repository_title.append(i.text)

In [24]:
for i in URLS:
    driver_3.get(i)
    time.sleep(5)
    try:
        for i in driver_3.find_elements(By.XPATH,"//p[@class='f4 my-3']"):
            Description.append(i.text)
    except NoSuchElementException:
         Description.append("--")
        
    try:
        for lang_used in driver_3.find_elements(By.XPATH,"//span[@class='color-fg-default text-bold mr-1']"):
            Language.append(lang_used.text)
    except NoSuchElementException:
         Language.append("--")

In [25]:
print(len(Repository_title))
print(len(Description))
print(len(Language))

25
44
289

In [ ]:
while len(Description) > len(Repository_title):
    Description.append("--")
while len(Language) > len(Repository_title):
    Language.append("--")
    
Git_repo = pd.DataFrame({'Repository Title' : Repository_title, 'Description' : Description, 'Language used' : Language})
Git_repo

In [2]:
# Question 2 :
driver_4=webdriver.Chrome()

In [3]:
url=('https://www.bcci.tv/')
driver_4.get(url)

In [4]:
button=driver_4.find_element(By.XPATH,'/html/body/header/div[3]/div[2]/ul/div[1]/a[2]')
driver_4.get(button.get_attribute("href"))
time.sleep(3)

In [5]:
Match_title = []
Series = []
Date= []
Time = []
Place = []

In [6]:
for i in driver_4.find_elements(By.XPATH,'//h5[@class="match-tournament-name ng-binding"]'):
    Match_title.append(i.text)

In [7]:
for i in driver_4.find_elements(By.XPATH,'//div[@class="tags-wrap"]/span[1]'):
    Series.append(i.text)

In [8]:
for i in driver_4.find_elements(By.XPATH,'//div[@class="match-dates ng-binding"]'):
    Date.append(i.text.replace('/n', ' '))

In [9]:
for i in driver_4.find_elements(By.XPATH,'//div[@class="match-time no-margin ng-binding"]'):
    Time.append(i.text)

In [10]:
for i in driver_4.find_elements(By.XPATH,'//span[@class="ng-binding ng-scope"]'):
    Place.append(i.text)

In [11]:
Fixtures = pd.DataFrame({})
Fixtures['Match Title'] = Match_title[:10]
Fixtures['Series'] = Series[:10]
Fixtures['Place'] = Place[:10]
Fixtures['Date'] = Date[:10]
Fixtures['Time'] = Time[:10]

Fixtures

,Match Title,Series,Place,Date,Time
0,ENGLAND TOUR OF INDIA 2023-24,5th Test,"Himachal Pradesh Cricket Association Stadium,","7 MARCH, 2024",9:30 AM IST
1,INDIA TOUR OF ZIMBABWE 2024,1st T20I,"Harare Sports Club,","6 JULY, 2024",8:00 PM IST
2,INDIA TOUR OF ZIMBABWE 2024,2nd T20I,"Harare Sports Club,","7 JULY, 2024",8:00 PM IST
3,INDIA TOUR OF ZIMBABWE 2024,3rd T20I,"Harare Sports Club,","10 JULY, 2024",8:00 PM IST
4,INDIA TOUR OF ZIMBABWE 2024,4th T20I,"Harare Sports Club,","13 JULY, 2024",8:00 PM IST
5,INDIA TOUR OF ZIMBABWE 2024,5th T20I,"Harare Sports Club,","14 JULY, 2024",8:00 PM IST

In [24]:
# Question 5 : 
driver = webdriver.Chrome()
driver.get("https:/www.billboard.com/")

In [25]:
# Click on the "Charts" option
charts = driver.find_element(By.XPATH,"/html/body/div[3]/footer/div[4]/div/div/div[2]/div[3]/div/nav[3]/ul/li[1]/a")
charts.click()

# Click on the "Hot 100" link
hot_100_link = driver.find_element(By.XPATH,'/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div/div[2]/span/a')
hot_100_link.click()
# Wait for the page to load
time.sleep(3)

# Initialize lists to store the details
song_names = []
artist_names = []
last_week_ranks_week_on_board = []
peak_ranks = []

In [26]:
# Song name
song_title = driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']//li/h3")
for i in song_title:
    song_name = i.text
    song_names.append(song_name)

In [27]:
# Artist name
try:
    for i in driver.find_elements(By.XPATH,"//li[@class='lrv-u-width-100p']//li//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']"):
        artist_names.append(i.text)
except NoSuchElementException:
        artist_names.append("--")

In [28]:
# Last week rank and week on chart
last_week_rank_week = driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']/span[1]")
for i in last_week_rank_week:
    last_week_board = i.text
    last_week_ranks_week_on_board.append(last_week_board)

In [29]:
 # Peak rank
peak_rank = driver.find_elements(By.XPATH,"//div[@class='o-chart-results-list-row-container']//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']/span[1]")
for i in peak_rank:
    peak = i.text
    peak_ranks.append(peak)

In [30]:
 # Print the scraped details
for i in range(len(song_names)):
        print("Song:", song_names[i])
        print("Artist:", artist_names[i])
        print("Last Week Rank  Weeks on Board:", last_week_ranks_week_on_board[i])
        print("Peak Rank:", peak_ranks[i])
        print("\n")

# Close the browser
driver.quit()

Song: Texas Hold 'Em
Artist: Jack Harlow
Last Week Rank  Weeks on Board: 2
Peak Rank: 1


Song: Lovin On Me
Artist: Teddy Swims
Last Week Rank  Weeks on Board: 2
Peak Rank: 1


Song: Lose Control
Artist: ¥$: Kanye West & Ty Dolla $ign Featuring Rich The Kid & Playboi Carti
Last Week Rank  Weeks on Board: 1
Peak Rank: 2


Song: Carnival
Artist: Benson Boone
Last Week Rank  Weeks on Board: 15
Peak Rank: 3


Song: Beautiful Things
Artist: SZA
Last Week Rank  Weeks on Board: 5
Peak Rank: 3


Song: Snooze
Artist: Taylor Swift
Last Week Rank  Weeks on Board: 28
Peak Rank: 2


Song: Cruel Summer
Artist: Tate McRae
Last Week Rank  Weeks on Board: 3
Peak Rank: 1


Song: Greedy
Artist: Zach Bryan Featuring Kacey Musgraves
Last Week Rank  Weeks on Board: 2
Peak Rank: 3


Song: I Remember Everything
Artist: Doja Cat
Last Week Rank  Weeks on Board: 4
Peak Rank: 1


Song: Agora Hills
Artist: Ariana Grande
Last Week Rank  Weeks on Board: 5
Peak Rank: 7


Song: Yes, And?
Artist: Noah Kahan
Last Week Rank  Weeks on Board: 7
Peak Rank: 1


Song: Stick Season
Artist: Luke Combs
Last Week Rank  Weeks on Board: 62
Peak Rank: 10


Song: Fast Car
Artist: Tyla
Last Week Rank  Weeks on Board: 6
Peak Rank: 2


Song: Water
Artist: Morgan Wallen
Last Week Rank  Weeks on Board: 42
Peak Rank: 7


Song: Last Night
Artist: 21 Savage
Last Week Rank  Weeks on Board: 9
Peak Rank: 1


Song: Redrum
Artist: Morgan Wallen
Last Week Rank  Weeks on Board: 23
Peak Rank: 5


Song: Thinkin' Bout Me
Artist: Taylor Swift
Last Week Rank  Weeks on Board: 8
Peak Rank: 7


Song: Is It Over Now? (Taylor's Version) [From The Vault]
Artist: Warren Zeiders
Last Week Rank  Weeks on Board: 26
Peak Rank: 1


Song: Pretty Little Poison
Artist: Miley Cyrus
Last Week Rank  Weeks on Board: 12
Peak Rank: 19


Song: Flowers
Artist: Doja Cat
Last Week Rank  Weeks on Board: 22
Peak Rank: 1


Song: Paint The Town Red
Artist: Dua Lipa
Last Week Rank  Weeks on Board: 31
Peak Rank: 1


Song: Houdini
Artist: Muni Long
Last Week Rank  Weeks on Board: 6
Peak Rank: 11


Song: Made For Me
Artist: Flo Milli
Last Week Rank  Weeks on Board: 10
Peak Rank: 23


Song: Never Lose Me
Artist: Xavi
Last Week Rank  Weeks on Board: 21
Peak Rank: 18


Song: La Diabla
Artist: Luke Combs
Last Week Rank  Weeks on Board: 11
Peak Rank: 20


Song: Where The Wild Things Are
Artist: Dua Lipa
Last Week Rank  Weeks on Board: 48
Peak Rank: 26


Song: Training Season
Artist: Cody Johnson
Last Week Rank  Weeks on Board: 13
Peak Rank: 27


Song: The Painter
Artist: Sabrina Carpenter
Last Week Rank  Weeks on Board: 21
Peak Rank: 28


Song: Feather
Artist: Billie Eilish
Last Week Rank  Weeks on Board: 14
Peak Rank: 29


Song: What Was I Made For?
Artist: Drake Featuring Sexyy Red & SZA
Last Week Rank  Weeks on Board: 56
Peak Rank: 14


Song: Rich Baby Daddy
Artist: Bryson Tiller
Last Week Rank  Weeks on Board: 15
Peak Rank: 11


Song: Whatever She Wants
Artist: HARDY
Last Week Rank  Weeks on Board: 6
Peak Rank: 32


Song: Truck Bed
Artist: Justin Timberlake
Last Week Rank  Weeks on Board: 16
Peak Rank: 33


Song: Selfish
Artist: Nicki Minaj Featuring Lil Uzi Vert
Last Week Rank  Weeks on Board: 51
Peak Rank: 19


Song: Everybody
Artist: Olivia Rodrigo
Last Week Rank  Weeks on Board: 18
Peak Rank: 24


Song: Vampire
Artist: Jessie Murph & Jelly Roll
Last Week Rank  Weeks on Board: 17
Peak Rank: 1


Song: Wild Ones
Artist: Victoria Monet
Last Week Rank  Weeks on Board: 24
Peak Rank: 35


Song: On My Mama
Artist: YG Marley
Last Week Rank  Weeks on Board: 24
Peak Rank: 33


Song: Praise Jah In The Moonlight
Artist: Jelly Roll With Lainey Wilson
Last Week Rank  Weeks on Board: 17
Peak Rank: 39


Song: Save Me
Artist: Tate McRae
Last Week Rank  Weeks on Board: 53
Peak Rank: 19


Song: Exes
Artist: Yeat
Last Week Rank  Weeks on Board: 19
Peak Rank: 34


Song: Breathe
Artist: Dua Lipa
Last Week Rank  Weeks on Board: 29
Peak Rank: 42


Song: Dance The Night
Artist: Jelly Roll
Last Week Rank  Weeks on Board: 25
Peak Rank: 6


Song: Need A Favor
Artist: JID Featuring 21 Savage & Baby Tate
Last Week Rank  Weeks on Board: 15
Peak Rank: 13


Song: Surround Sound
Artist: Nate Smith
Last Week Rank  Weeks on Board: 32
Peak Rank: 40


Song: World On Fire
Artist: Usher Featuring Lil Jon & Ludacris
Last Week Rank  Weeks on Board: 6
Peak Rank: 21


Song: Yeah!
Artist: Parker McCollum
Last Week Rank  Weeks on Board: 21
Peak Rank: 1


Song: Burn It Down
Artist: Usher, Summer Walker & 21 Savage
Last Week Rank  Weeks on Board: 10
Peak Rank: 48


Song: Good Good
Artist: Xavi
Last Week Rank  Weeks on Board: 22
Peak Rank: 25


Song: La Victima
Artist: Djo
Last Week Rank  Weeks on Board: 10
Peak Rank: 46


Song: End Of Beginning
Artist: BossMan Dlow
Last Week Rank  Weeks on Board: 29
Peak Rank: 51


Song: Get In With Me
Artist: ¥$: Kanye West & Ty Dolla $ign
Last Week Rank  Weeks on Board: 14
Peak Rank: 52


Song: Burn
Artist: Morgan Wallen Featuring Eric Church
Last Week Rank  Weeks on Board: -
Peak Rank: 33


Song: Man Made A Bar
Artist: Beyonce
Last Week Rank  Weeks on Board: 1
Peak Rank: 15


Song: 16 Carriages
Artist: Drake Featuring J. Cole
Last Week Rank  Weeks on Board: 35
Peak Rank: 38


Song: First Person Shooter
Artist: ¥$: Kanye West & Ty Dolla $ign
Last Week Rank  Weeks on Board: 20
Peak Rank: 1


Song: Fuk Sumn
Artist: The Weeknd, Jennie & Lily Rose Depp
Last Week Rank  Weeks on Board: 42
Peak Rank: 23


Song: One Of The Girls
Artist: ¥$: Kanye West & Ty Dolla $ign
Last Week Rank  Weeks on Board: 12
Peak Rank: 57


Song: Back To Me
Artist: Rich Amiri
Last Week Rank  Weeks on Board: 27
Peak Rank: 26


Song: One Call
Artist: Karol G & Tiesto
Last Week Rank  Weeks on Board: 31
Peak Rank: 60


Song: Contigo
Artist: Chayce Beckham
Last Week Rank  Weeks on Board: 41
Peak Rank: 61


Song: 23
Artist: Sophie Ellis-Bextor
Last Week Rank  Weeks on Board: 20
Peak Rank: 62


Song: Murder On The Dancefloor
Artist: Drake
Last Week Rank  Weeks on Board: -
Peak Rank: 51


Song: You Broke My Heart
Artist: Ice Spice
Last Week Rank  Weeks on Board: 1
Peak Rank: 11


Song: Think U The Shit (Fart)
Artist: Nicki Minaj
Last Week Rank  Weeks on Board: 51
Peak Rank: 37


Song: FTCU
Artist: Travis Scott Featuring Playboi Carti
Last Week Rank  Weeks on Board: 36
Peak Rank: 15


Song: FE!N
Artist: Megan Thee Stallion
Last Week Rank  Weeks on Board: 37
Peak Rank: 5


Song: Hiss
Artist: Kane Brown
Last Week Rank  Weeks on Board: 4
Peak Rank: 1


Song: I Can Feel It
Artist: Don Toliver
Last Week Rank  Weeks on Board: 40
Peak Rank: 59


Song: Bandit
Artist: Morgan Wallen
Last Week Rank  Weeks on Board: 11
Peak Rank: 38


Song: Spin You Around (1/24)
Artist: 310babii
Last Week Rank  Weeks on Board: 43
Peak Rank: 24


Song: Soak City
Artist: Noah Kahan
Last Week Rank  Weeks on Board: 31
Peak Rank: 61


Song: Forever
Artist: Thomas Rhett Featuring Morgan Wallen
Last Week Rank  Weeks on Board: 45
Peak Rank: 28


Song: Mamaw's House
Artist: 4Batz
Last Week Rank  Weeks on Board: 20
Peak Rank: 55


Song: Act II: Date @ 8
Artist: Kali Uchis & Peso Pluma
Last Week Rank  Weeks on Board: 44
Peak Rank: 59


Song: Igual Que Un Angel
Artist: 21 Savage, Travis Scott & Metro Boomin
Last Week Rank  Weeks on Board: 23
Peak Rank: 22


Song: Nee-nah
Artist: Lainey Wilson
Last Week Rank  Weeks on Board: 63
Peak Rank: 10


Song: Wildflowers And Wild Horses
Artist: Peso Pluma & Anitta
Last Week Rank  Weeks on Board: 4
Peak Rank: 78


Song: Bellakeo
Artist: Fuerza Regida & Marshmello
Last Week Rank  Weeks on Board: 47
Peak Rank: 53


Song: Harley Quinn
Artist: Jung Kook
Last Week Rank  Weeks on Board: 33
Peak Rank: 40


Song: Standing Next To You
Artist: Gunna
Last Week Rank  Weeks on Board: 49
Peak Rank: 5


Song: Bittersweet
Artist: Drake Featuring Yeat
Last Week Rank  Weeks on Board: 14
Peak Rank: 82


Song: IDGAF
Artist: Good Neighbours
Last Week Rank  Weeks on Board: -
Peak Rank: 2


Song: Home
Artist: ¥$: Kanye West & Ty Dolla $ign Featuring Lil Durk & Bump J
Last Week Rank  Weeks on Board: 1
Peak Rank: 77


Song: Vultures
Artist: GloRilla
Last Week Rank  Weeks on Board: 46
Peak Rank: 34


Song: Yeah Glo!
Artist: Dylan Gossett
Last Week Rank  Weeks on Board: 34
Peak Rank: 86


Song: Coal
Artist: BigXthaPlug
Last Week Rank  Weeks on Board: 50
Peak Rank: 86


Song: Mmhmm
Artist: Yeat
Last Week Rank  Weeks on Board: 45
Peak Rank: 65


Song: Psycho CEO
Artist: Bad Bunny & Feid
Last Week Rank  Weeks on Board: 54
Peak Rank: 89


Song: Perro Negro
Artist: Chris Brown Featuring Davido & Lojay
Last Week Rank  Weeks on Board: 15
Peak Rank: 20


Song: Sensational
Artist: Zach Bryan
Last Week Rank  Weeks on Board: 56
Peak Rank: 91


Song: Oklahoma Smokeshow
Artist: Fuerza Regida
Last Week Rank  Weeks on Board: 17
Peak Rank: 72


Song: Tu Name
Artist: ¥$: Kanye West & Ty Dolla $ign
Last Week Rank  Weeks on Board: 20
Peak Rank: 93


Song: Do It
Artist: Offset & Don Toliver
Last Week Rank  Weeks on Board: 47
Peak Rank: 52


Song: Worth It
Artist: ¥$: Kanye West & Ty Dolla $ign Featuring North West
Last Week Rank  Weeks on Board: 60
Peak Rank: 92


Song: Talking
Artist: Bad Bunny
Last Week Rank  Weeks on Board: 18
Peak Rank: 30


Song: Monaco
Artist: Bailey Zimmerman
Last Week Rank  Weeks on Board: 36
Peak Rank: 5


Song: Where It Ends
Artist: The Red Clay Strays
Last Week Rank  Weeks on Board: 28
Peak Rank: 32


Song: Wondering Why
Artist: Noah Kahan With Hozier
Last Week Rank  Weeks on Board: 58
Peak Rank: 71


Song: Northern Attitude

IndexError: list index out of range

In [31]:
# Question 8 :
driver=webdriver.Chrome()

In [32]:
driver.get("https://archive.ics.uci.edu/")

In [33]:
data_btn = driver.find_element(By.XPATH,'/html/body/div/div[1]/div[1]/main/div/div[1]/div/div/div/a[1]')
data_btn.click()

In [34]:
Dataset_name = []
Dataset_descp = []
Task = []
Data_type = []
Instances = []
Attributes = []
Attribute_type = []
Year = []

In [35]:
for i in driver.find_elements(By.XPATH,'//h2[@class="truncate text-primary"]'):
    Dataset_name.append(i.text)

In [36]:
for i in driver.find_elements(By.XPATH,'//p[@class="truncate"]'):
    Dataset_descp.append(i.text)

In [37]:
for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][1]/span'):
    Task.append(i.text)

In [38]:
for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][2]/span'):
    Data_type.append(i.text)

In [39]:
for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][3]/span'):
    Instances.append(i.text)

In [40]:
for i in driver.find_elements(By.XPATH,'//div[@class="col-span-3 flex items-center gap-2"][4]/span'):
    Attributes.append(i.text)

In [47]:
for i in driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tbody/tr/td[2]'):
    Attribute_type.append(i.text)

In [45]:
for i in driver.find_elements(By.XPATH,'//table[@class="col-span-full my-2 table sm:col-start-2"]//tbody/tr/td[3]'):
    Year.append(i.text)

In [48]:
Dataset_details = pd.DataFrame({})
Dataset_details['Dataset Name'] = Dataset_name
Dataset_details['Dataset description'] = Dataset_descp
Dataset_details['Task'] = Task
Dataset_details['Data Type'] = Data_type
Dataset_details['No of Instances'] = Instances
Dataset_details['Attributes'] = Attributes
Dataset_details['Year'] = Year
Dataset_details['Attribute Type'] = Attribute_type
Dataset_details

,Dataset Name,Dataset description,Task,Data Type,No of Instances,Attributes,Year,Attribute Type
0,Iris,"A small classic dataset from Fisher, 1936. One...",Classification,Tabular,150 Instances,4 Features,7/1/1988,Real
1,Dry Bean Dataset,"Images of 13,611 grains of 7 different registe...",Classification,Multivariate,13.61K Instances,16 Features,9/14/2020,"Integer, Real"
2,Heart Disease,"4 databases: Cleveland, Hungary, Switzerland, ...",Classification,Multivariate,303 Instances,13 Features,7/1/1988,"Categorical, Integer, Real"
3,Rice (Cammeo and Osmancik),A total of 3810 rice grain's images were taken...,Classification,Multivariate,3.81K Instances,7 Features,10/6/2019,Real
4,Adult,Predict whether income exceeds $50K/yr based o...,Classification,Multivariate,48.84K Instances,14 Features,5/1/1996,"Categorical, Integer"
5,Raisin,Images of the Kecimen and Besni raisin varieti...,Classification,Multivariate,900 Instances,8 Features,8/14/2023,"Real, Integer"
6,Breast Cancer Wisconsin (Diagnostic),Diagnostic Wisconsin Breast Cancer Database.,Classification,Multivariate,569 Instances,30 Features,11/1/1995,Real
7,Wine,Using chemical analysis to determine the origi...,Classification,Tabular,178 Instances,13 Features,7/1/1991,"Integer, Real"
8,Wine Quality,"Two datasets are included, related to red and ...","Classification, Regression",Multivariate,4.9K Instances,12 Features,10/7/2009,Real
9,Diabetes,This diabetes dataset is from AIM '94,Classification,"Multivariate, Time-Series",1 Instances,20 Features,N/A,"Categorical, Integer"

In [2]:
# Question 7 : 
driver_5=webdriver.Chrome()

In [3]:
driver_5.get('https://www.imdb.com/list/ls512407256/')

In [4]:
Name = []
Year_span = []
Genre = []
Run_time = []
Ratings = []
Votes = []

In [5]:
for i in driver_5.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a'):
    Name.append(i.text)

In [6]:
for i in driver_5.find_elements(By.XPATH,'//span[@class="lister-item-year text-muted unbold"]'):
    Year_span.append(i.text)

In [7]:
for i in driver_5.find_elements(By.XPATH,'//span[@class="genre"]'):
    Genre.append(i.text)

In [8]:
for i in driver_5.find_elements(By.XPATH,'//span[@class="runtime"]'):
    Run_time.append(i.text)

In [9]:
for i in driver_5.find_elements(By.XPATH,'//div[@class="ipl-rating-star small"]//span[2]'):
    Ratings.append(i.text)

In [10]:
for i in driver_5.find_elements(By.XPATH,'//div[@class="lister-item-content"]//p[4]/span[2]'):
    Votes.append(i.text)

In [11]:
Most_watched = pd.DataFrame({})
Most_watched['Name'] = Name
Most_watched['Year span'] = Year_span
Most_watched['Genre'] = Genre
Most_watched['Run time'] = Run_time
Most_watched['Ratings'] = Ratings
Most_watched['Votes'] = Votes

Most_watched

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",55 min,9.2,"2,261,944"
1,Stranger Things,(2016–2025),"Drama, Fantasy, Horror",51 min,8.7,"1,320,063"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,071,937"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"313,427"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"273,341"
...,...,...,...,...,...,...
95,True Detective,(2014– ),"Crime, Drama, Mystery",55 min,8.9,"644,991"
96,Teen Wolf,(2011–2017),"Action, Drama, Fantasy",41 min,7.7,"162,025"
97,The OA,(2016–2019),"Drama, Fantasy, Mystery",60 min,7.8,"114,840"
98,The Simpsons,(1989– ),"Animation, Comedy",22 min,8.7,"433,027"
99,Desperate Housewives,(2004–2012),"Comedy, Drama, Mystery",45 min,7.6,"138,658"